<?xml version="1.0" encoding="utf-8" ?>

<odoo>

    <record id="member_view_form" model="ir.ui.view">
        <field name="name">member.form</field>
        <field name="model">library.member</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <field name="image" nolabel="1" widget="image" class="oe_right oe_avatar"/>
                    <group>
                        <field name="name"/>
                        <field name="dept"/>
                        <field name="dob"/>
                        <field name="gender"/>
                        <field name="age"/>
                        <field name="active" widget="boolean_toggle"/>
                        <field name="color" widget="color_picker"/>
                        <field name="color2" widget="color"/>
                        <field name="tags" widget="many2many_tags" options="{'color_field': 'color'}"/>

                    </group>
                </sheet>
            </form>
        </field>
    </record>


    <record id="library_member_search_view" model="ir.ui.view">
        <field name="name">member.search</field>
        <field name="model">library.member</field>
        <field name="arch" type="xml">

            <search>

                <field name="name"
                       filter_domain="['|','|','|',('name','ilike',self),('dept','ilike',self),('gender','ilike',self),('age','ilike',self)]"/>
                <field name="dept"/>
                <field name="dob"/>
                <field name="gender"/>
                <field name="age"/>


                <filter name="filter_child" string="child" domain="[('age','&lt;=',5)]"/>
                <filter name="filter_male" string="male" domain="[('gender','=','Male')]"/>

                <filter name="filter_female" string="female" domain="[('gender','=','Female')]"/>

                <filter name="filter_archive" string="archive" domain="[('active','=',False)]"/>

                <group expand="0" string="Group By">
                    <filter name="group_gender" string="gender" domain="[]" context="{'group_by':'gender'}"/>
                </group>


            </search>


        </field>


    </record>


    <record id="library_view_tree" model="ir.ui.view">

        <field name="name">member.view.tree</field>
        <field name="model">library.member</field>
        <field name="arch" type="xml">

            <tree>
                <field name="name" string="Member Name"/>
                <field name="dept" string="Department"/>
                <field name="dob" string="Date of Birth"/>
                <field name="gender"/>
                <field name="age"/>
                <field name="active" widget="boolean_toggle"/>
                <field name="color" widget="color_picker"/>
                <field name="color2" widget="color"/>

            </tree>


        </field>


    </record>


    <record id="action_library_member" model="ir.actions.act_window">
        <field name="name">Library Member</field>
        <field name="res_model">library.member</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{'search_default_filter_male':1,'search_default_group_by_gender':1}</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">

                Click to add a new library book.

            </p>
        </field>
    </record>


    <menuitem id="root_member"
              name="My Library"
              sequence="2"/>

    <menuitem id="member_child"
              name="Member"
              parent="root_member"
              sequence="2"/>

    <menuitem id="member_details"
              name="member details"
              parent="member_child"
              action="action_library_member"
              sequence="2"/>


</odoo>